@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: color 0.24s ease-out, background-color 0.24s ease-out, outline 0.24s ease-out, opacity 0.24s ease-out !important;
}

:root {
  --font-size-2xl: 1.625rem;
  --font-size-xl: 1.375rem;
  --font-size-lg: 1.125rem;
  --font-size-reg: 1.000rem;
  --font-size-sm: 0.875rem;

  --font-weight-exbld: 900;
  --font-weight-bld: 800;
  --font-weight-semibld: 700;
  --font-weight-med: 600;
  --font-weight-reg: 500;
  --font-weight-lgt: 400;
  --font-weight-exlgt: 300;

  --foreground: #585C64;
  --background-tb-shadow: linear-gradient(to bottom, #DADADA 0%, transparent 4%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-exbld: 700;
    --font-weight-bld: 600;
    --font-weight-semibld: 500;
    --font-weight-med: 400;
    --font-weight-reg: 300;
    --font-weight-lgt: 200;
    --font-weight-exlgt: 100;

    --foreground: #AFB4BB;
    --background-tb-shadow: linear-gradient(to bottom, #0A0A0A 0%, transparent 4%);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  white-space: pre-wrap;
}

body {
  overscroll-behavior-x: none;
}

/* Override default Radix CSS vars */
.radix-themes {
  --default-font-family: var(--font-kumbh-sans);
  /* --scrollarea-scrollbar-horizontal-margin-top: var(--space-3); */
  /* --scrollarea-scrollbar-horizontal-margin-bottom: var(--space-3); */
  /* --scrollarea-scrollbar-horizontal-margin-left: var(--space-3); */
  /* --scrollarea-scrollbar-horizontal-margin-right: var(--space-3); */
  /* --scrollarea-scrollbar-vertical-margin-top: var(--space-3); */
  /* --scrollarea-scrollbar-vertical-margin-bottom: var(--space-3); */
  /* --scrollarea-scrollbar-vertical-margin-left: var(--space-3); */
  /* --scrollarea-scrollbar-vertical-margin-right: var(--space-3); */
  --tab-active-letter-spacing: 0em,
}

.radix-themes * {
  transition: color 0.24s ease-out, background-color 0.24s ease-out, outline 0.24s ease-out;
}

:is(.light, .light-theme) :where(.radix-themes:not(.dark, .dark-theme)) {
  --color-background: #EAEAEA;
  --color-surface: #BABABA;
}

:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --accent-color: "cyan",
}

.rt-BaseButton {
  cursor: pointer;
}

.rt-BaseButton:disabled {
  cursor: not-allowed;
}
/*/////////////////////////////////*/

/* Element Styles */
main {
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
  background: var(--background-tb-shadow);
  pointer-events: none;
}

a,
a.rt-TabNavLink * {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-reg);
  color: var(--foreground-link);
  border-radius: 9999px;
}

a:hover,
a.rt-TabNavLink:hover * {
  color: var(--foreground-hover);
  background: transparent;
}

a[data-active],
a.rt-TabNavLink[data-active] * {
  color: var(--foreground-secondary);
}

a:not(.rt-TabNavLink):focus-visible {
  outline: 2px solid var(--foreground-focus);
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

ul {
  list-style: none;
}

li {
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-reg);
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-exbld);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bld);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-md);
}

p {
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-reg);
}

span {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-lgt);
}

.rounded-logo {
  border-radius: 0 30% 0 30%;
}

.rounded-right-only {
  border-radius: 0 0.375rem 0.375rem 0;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(0.4rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    width: 0;
    transform: translateX(-0.4rem);
  }
  to {
    width: 100%;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.24s ease-out forwards;
}

.fade-in-right {
  animation: fadeInFromRight 0.24s ease-out forwards;
}

.fade-in-left {
  animation: fadeInFromLeft 4s ease-out forwards;
}
