@tailwind base;
@tailwind components;
@tailwind utilities;

/*//// Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*//// Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.24s ease-out forwards;
}

.fade-in-right {
  animation: fadeInFromRight 0.24s ease-out forwards;
}

.fade-in-left {
  animation: fadeInFromLeft 0.24s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.24s ease-out forwards;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-x: none;
}

body * {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

.rounded-logo {
  border-radius: 0 30% 0 30%;
}

.rounded-right-only {
  border-radius: 0 0.375rem 0.375rem 0;
}

.rounded-left-only {
  border-radius: 0.375rem 0 0 0.375rem;
}

.rounded-tl-only {
  border-radius: 0.375rem 0 0 0;
}

.rounded-bl-only {
  border-radius: 0 0 0 0.375rem;
}
