@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*//// Base Styles */
:root {
  color-scheme: dark;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-x: none;
  background: linear-gradient(110deg, rgba(18, 18, 18, 1) 10%, rgba(0, 96, 100, 0.1) 50%, rgba(18, 18, 18, 1) 90%);
}

body * {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #4DD0E1;
}

svg {
  flex-shrink: 0;
}

pre {
  width: fit-content;
  font-size: 0.825rem;
  text-wrap: pretty;
  border-radius: 10px;
}

code {
  font-size: 0.825rem;
  text-wrap: pretty;
}

.markdown-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.markdown-list-item {
  display: inline;
  white-space: normal;
}

.markdown-strong {
  color: #4DD0E1;
}

.markdown-em {
  color: #C5C8C6;
  padding-right: 0.125rem;
}

.markdown-a {
  color: #B2EBF2;
  font-weight: 600;
  text-decoration: underline;
}

.hljs {
  margin: 1rem 0;
  border-radius: 10px;
}

.thinking {
  animation: thinking 1.2s ease-out infinite;
}

.rounded-logo {
  border-radius: 0 30% 0 30%;
}

@media screen and (max-width: 600px) {
  pre,
  code,
  pre code {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 964px) {
  pre,
  code,
  pre code {
    font-size: 0.675rem;
  }
}

/*//// Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeOutToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeOutToBottom {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20%);
  }
}

@keyframes fadeOutToTop {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-20%);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes thinking {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}
